<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Long Board</title>
    <meta name="description" content="Cloud chat application">
    <meta name="author" content="Tug">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/static/lib/phpjs.js" type="text/javascript"></script>
    <script src="/static/lib/plupload/plupload.full.js" type="text/javascript"></script>
    <script src="/static/lib/bootstrap-modal.js"></script>
    <script src="/static/lib/bootstrap-dropdown.js"></script>
    <script src="/static/js/uploader.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/static/js/socket.chat.js" type="text/javascript"></script>
    <script src="/static/js/socket.file.js" type="text/javascript"></script>
    <script src="/static/js/app.js" type="text/javascript"></script>
    <script src="/static/lib/audio-player/audio-player.js" type="text/javascript"></script>  
    <script type="text/javascript">  
        AudioPlayer.setup("/static/lib/audio-player/player.swf", { width: 290 });  
    </script>
    <script src="/static/lib/jwplayer/jwplayer.js" type="text/javascript"></script>  
</head>

<body>
  <div class="page-header">
      <h1 id="title">Room</h1>
  </div>
  <div class="page-content">
      <ul id="messagesBox"></ul>
  </div>
  <div class="bottom-bar">
      <div class="hblock" id="chatblock">
          <form action="" onSubmit="return false">
              <p>
                  <input id='nameBox' type='text' name='name' placeholder="Username"/>
                  <button id='renameButton' class="btn" type="button">Rename</button>
              </p>
              <p>
                  <textarea class="write-area" rows="4" id='messageBox' name='message'></textarea>
                  <button id='submitMessageButton'>Send</button>
              </p>
              <div id="enterToSendBox">
                  Press enter to send : 
                  <input type="checkbox" class="input" id="enterToSend" />
              </div>
          </form>
      </div>
      <div class="hblock" id="fileblock">
          <div class="hblock" id="infoblock">
              <div id="runtimeInfo"></div>
              <div id="uploadSpeed"></div>
          </div>
          <div id="fileContainer">
              <input type="button" id="upFile" class="btn" value="Add files"/>
              <input type="button" id="clearFiles" class="btn" value="Clear files"/>
              <input type="button" id="upSendBtn" class="btn primary" value="Upload">
              <ul id="fileList"><li class="dropText">Drag files here!</li></ul>
          </div>
      </div>
  </div>
</body>

</html>
