<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Express-chat</title>
    <meta name="description" content="Cloud chat application">
    <meta name="author" content="Tug">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
</head>
<body>
  <div class="home-container">
  	<div class="content">
    	<div class="page-header">
        	<h1>Express-chat</h1>
      </div> <!-- /page-header -->
      <div class="home-list-rooms">
        <div>
          <h2>Public rooms</h2>
        </div>
				<div>
          <br/>
          <ul class="rooms">
            <li class="room">
              <a href="/r/roomid" class="room-title">Room Title</a>
            </li>
				  </ul>
        </div>
      </div>
      <div class="home-create-room">
        <div>
          <h2>Create chat room</h2>
        </div>
        <div>
          <form id='CreateChatForm' name='formAction' method='post' action='/rooms/create'>
            <fieldset>
              <legend>Enter Room information</legend>
              <div class="form-item">
                <label for="xlInput">Name</label>
                <div class="input">
                  <input class="xlarge" id="title" name="title" size="30" type="text">
                </div>
              </div>
              <div class="form-item">
                <label for="xlInput">Public</label>
                <div class="input">
                  <input type="checkbox" class="input" name="ispublic" value="1" />
                </div>
              </div>
              <div class="home-actions">
                <input type="submit" class="btn primary" value="Create">
              </div>
            </fieldset>
          </form>
        </div>
			</div> <!-- /row -->
      
		</div> <!-- /content -->

	</div> <!-- /container -->
</body>
</html>
