.HeaderBox
  .LeftBox#titleBox
    %h1 Chat+
    %img.bubble{ src: '/public/images/bubble.png' }
  .RightBox#nameBox
    %form#SendNameForm{ name:"sendname", method: 'post' }
      My name :
      %input#name{ type: 'text', name: 'name', value: username }
.ChatBox
  .LeftBox#topLeftBox
    %ul#messages
  .RightBox#topRightBox
    %ul#users
.DialogBox
  %form#SendMsgForm{ name:"sendmsg", method: 'post' }
    .LeftBox#inputBox
      %textarea#message{ name: 'message' }
    .RightBox#submitBox
      %input{ type: 'submit', value: 'Send' }
.UploadBox
  %form#UploadForm{ name:"upload", method: 'post', enctype: 'multipart/form-data' }
    %fieldset
      %legend Share Files
      Max file size is
      %span{ id:"maxFileSize" }= max_file_size
      kB
      #uploadButton Upload
      %br
      Uploaded Files:
      #fileList

