.HeaderBox
  .LeftBox#titleBox
    %h1 Chat+
    %img.bubble{ src: '/public/images/bubble.png' }
  .RightBox#nameBox
    %form#SendNameForm{ method: 'post' }
      My name :
      %input#name{ type: 'text', name: 'name', value: username }
.ChatBox
  .LeftBox#topLeftBox
    %ul#messages
  .RightBox#topRightBox
    %ul#users
.DialogBox
  %form#SendMsgForm{ method: 'post' }
    .LeftBox#inputBox
      %textarea#message{ name: 'message' }
    .RightBox#submitBox
      %input{ type: 'submit', value: 'Send' }
.UploadBox#uploadshow
  %form#UploadForm{ method: 'post', enctype: 'multipart/form-data' }
    %fieldset
      %legend Share Files
      #container
        %a#pickfiles{ href:"#" } [Select files]
        %a#uploadfiles{ href:"#" } [Upload files]
        #filelist No runtime found.

