%h1 Chat+
%img.bubble{ src: '/public/images/bubble.png' }
#CreateChatBox
  Welcome on the Chat+ application.
  %br
  Enter your name below and get started now!
  %br
  %br
  %br
  %br
  %br
  %form#CreateChatForm{ method: 'post', action: formAction }
    %fieldset
      %legend Create chat room
      %input{ type: 'text', name: 'name', id: 'creatorname', value: 'Your name' }
      %input{ type: 'submit', value: 'Create' }
      %input{ type: 'checkbox', name: 'ispublic', value: '1' } public
  %br
  #pubicRooms
    %p Public rooms:
    %ul
      != this.partial('roomid.html.haml', { collection: publicrooms })

