%h1 Chat+
%img.bubble{ src: '/public/images/bubble.png' }
#CreateChatBox
  Welcome on the Chat+ application.
  Enter your name below and get started now!
  %form#CreateChatForm{ method: 'post', action: formAction }
    %input{ type: 'text', name: 'name', value: '' }
    %input{ type: 'submit', value: 'Create chat room' }
