!!! XML
!!!
%html
  %head
    %title= title
    %script{ src: '/public/javascripts/jquery.js' }
    %script{ src: '/public/javascripts/plupload/plupload.min.js' }
    %script{ src: '/public/javascripts/plupload/plupload.gears.min.js' }
    %script{ src: '/public/javascripts/plupload/plupload.silverlight.min.js' }
    %script{ src: '/public/javascripts/plupload/plupload.flash.min.js' }
    %script{ src: '/public/javascripts/plupload/plupload.browserplus.min.js' }
    %script{ src: '/public/javascripts/plupload/plupload.html5.min.js' }
    %script{ src: '/public/javascripts/plupload/jquery.plupload.queue.min.js' }
    %script{ src: '/public/javascripts/app.js' }
    %link{ rel: 'stylesheet', href: '/style.css' }
    %link{ rel: 'stylesheet', href: '/chat.css' }
    %link{ rel: 'stylesheet', href: '/public/javascripts/plupload/css/plupload.queue.css' }
  %body
    #wrapper
      != body
    #footer
