!!! XML
!!! strict
%html
  %head
    %meta{ 'http-equiv':"content-type", 'content':'text/html; charset=utf-8' }
    %title= title
    %script{ src: '/public/javascripts/jquery.js' }
    %script{ src: '/public/javascripts/plupload/plupload.full.min.js' }
    %script{ src: '/public/javascripts/app.js' }
    %link{ rel: 'stylesheet', href: '/style.css' }
    %link{ rel: 'stylesheet', href: '/chat.css' }
  %body
    #wrapper
      != body
    #footer
