body
  :font-family "Helvetica Neue", "Lucida Grande", "Arial"
  :font-size 13px
  :text-align center
  =text-stroke 1px rgba(255, 255, 255, 0.1)
  :color #555
  
h1, h2
  :margin 0
  :font-size 22px
  :color #343434
h1
  :text-shadow 1px 2px 2px #ddd
  :font-size 60px
  
img.bubble
  :position absolute
  :top -25px
  :left 120px

#wrapper
  :position relative
  :margin 50px auto
  :width 600px
  :text-align left

#CreateChatBox
  :margin 50px
  :width 250px
  :height 50px
  :font-size 1.3em
  =border-radius 50px

a
  :color #1ABFF1
  =transition-property padding
  =transition-duration 0.15s
a:hover
  :padding 0 5px

