<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Express-chat</title>
    <meta name="description" content="Cloud chat application">
    <meta name="author" content="Tug">

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet/less" type="text/css" href="/static/css/styles.less">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/static/lib/less-1.1.5.min.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/static/lib/phpjs.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/static/js/socket.chat.js" type="text/javascript"></script>
    <script src="/static/js/app.js" type="text/javascript"></script>

</head>

<body>
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <a class="brand" href="#">Express-chat</a>
                <ul class="nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                </ul>
                <form action="" class="pull-right" onSubmit="return false">
                    <input id='name' type='text' name='name' class="input" placeholder="Username"/>
                    <button id='renameButton' class="btn" type="button">Rename</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h1 id="title">Room</h1>
            </div>
            <div class="row">
                <div class="span12">
                    <div>
                        <pre class="prettyprint scrollcontent"><ul id="messages" class="unstyled"></ul></pre>
                    </div>
                    <div>
                        <form class="form-horizontal">
                            <textarea class="write-area" rows="4" id='message' name='message'></textarea>
                        </form>
                    </div>
                </div>
                <div class="span4">
                    <div>
                        <pre class="prettyprint scrollcontent userlist"><ul id="users" class="unstyled"></ul></pre>
                    </div>
                    <div>
                        <button id='submitMessageButton' class="btn large">Send</button>
                    </div>
              </div> <!-- /span4 -->
            </div> <!-- /row -->
        </div> <!-- /content -->
    
        <footer>
            <p>&copy; GPL licensed</p>
        </footer>
    
    </div> <!-- /container -->
</body>
</html>
